<!-- mycss.css -->

p {

    color: #727272;

    font-size: 12px;

}

a {

    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

.nav_bar {



    height: 50px;

    float: right;

}

.nav_text_box {

    height: 30px;

    display: inline-block;

    position: relative;

    padding-right: 5px;

}

.nav_icon_box1 {

    width: 22px;

    height: 22px;

    display: inline-block;

    position: relative;

    top: 5px;

    margin-right: 5px;

    margin-left: 5px;

    background-image : url("https://docs.google.com/drawings/d/1Yy0vs1igTFZcacNLBC5dBQUfxESKh8mp34sBzoTWLIU/pub?w=22&amp;h=22") 

}

.nav_icon_box1:hover {

    background-image : url("https://docs.google.com/drawings/d/1JeoXOogCbgGedVEuGQq-ONQ3BrSGJyMIVqfpYoO5sok/pub?w=22&amp;h=22")

}

.nav_icon_box2 {

    width: 24px;

    height: 24px;

    display: inline-block;

    position: relative;

    top: 6px;

    margin-right: 5px;

    margin-left: 5px;

    background-image: url("https://docs.google.com/drawings/d/1hcAh0ZXgyL4HLhzjyGJ1L2PkLkF60LZlfhxQaCCahfc/pub?w=24&amp;h=24")

}

.nav_icon_box2:hover {

    background-image: url("https://docs.google.com/drawings/d/11TNkzsSOU5mL9VVzHRakJ8QB1nwngpuNOWNaRL9Q6TE/pub?w=24&amp;h=24")

}

.nav_profile_box {

    width: 36px;

    height: 36px;

    display: inline-block;

    position: relative;

    top: 12px;

    margin-right: 5px;

    margin-left: 5px;

    background-image: url("https://docs.google.com/drawings/d/1wfEGIsAyr9QERbviZWfUBN0Hlm4C2-v1QM3wXojxthk/pub?w=36&amp;h=36")

}

.search_bar {

    width: 300px;

    height: 100px;

    margin-left: auto;

    margin-right: auto;

    margin-top: 30px;

    padding-left: 22px;

}

.search_button {

    border: 1px solid #FFFFFF;

    font-size: 13px;

    font-weight: bold;

    padding: 10px 18px 10px 18px;

    background-color: #efefef;

    color: #727272;

    display: inline-block;    

}

.search_button:hover {

    color: black;

    border: 1px solid #999999;    

}

.footer {

    width: 100%;

    height: 60px;

    position: absolute;

    bottom: 0px;

    background-color: #Eeeeee;

}

.company_info {

    height: 50px;

    width: 80px;

    margin-top: 10px;

    display: inline-block;

    float: left;

    text-align: center;

}

.user_info {

    height: 50px;

    margin-top: 10px;

    margin-left: 15px;

    margin-right: 15px;

    display: inline-block;

    float: right;

    text-align: center;

}

#header {

    width: 100%;

    height: 70px;

}

#body {

    width: 100%;

    min-height: 100vh;

    position: relative;

}

#nav_id_box {



    height: 30px;

    display: inline-block;

    position: relative;

    padding-right: 8px;

}

#logo {

    display: block;

    margin-left: auto;

    margin-right: auto;

    margin-top: 120px; 

}

#text_box {

    width: 570px;

    height: 22px;

    border: 1px solid #DDDDDD;

    font-size: 17px;

    padding: 10px;

    display: block;

    margin-right: auto;

    margin-left: auto;

    margin-top: 20px;

}

#text_box:hover {

    border-color: #999999;

}