<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
.star-rating { width:205px; }
.star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(star.png)no-repeat; }
.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
</style>
</head>
<body>
<span class='star-rating'>
<span style ="width:50%"></span>
</span>
</body>
